# SYD DAT 7 Homework - Git, Markdown and Pandas

## Homework: due Feb 20th 2017

#### Setup
* Create a repository
* Copy this Homework1.ipynb file into your new repository

#### Communication
* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax)
* Write a summary of a chapter of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown

#### Programming
* Complete the lab from class and the additional Exercise below

#### Course Project
* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use, and how you will collect it
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve


#### How to submit
  * Send a message on Slack to Greg and Amanda to tell us the name of the repository you created and the
  filename of the jupyter notebook where you've done your work

## Weather

The Bureau of Meteorology keeps long-term data about rainfall, temperatures and so on. You generate a query,
and then you can fetch that same data again for a while before the data is expired.

* Go to http://www.bom.gov.au/climate/data
* There's a pull down for "Data about": choose "Rainfall"
* Select a weather station: choose Sydney
* It will then come up with a list of matching towns: choose Sydney, NSW (the first one in the list)
* It will then give a list of the nearest weather stations.
* Choose 066062 Sydney Observatory
* Select the year 2016
* Click on the "Get Data" button.
* That next page you get will have a URL very similar to this:
http://www.bom.gov.au/jsp/ncc/cdio/weatherData/av?p_nccObsCode=136&p_display_type=dailyDataFile&p_startYear=2016&p_c=-872836455&p_stn_num=066062

In [ ]:
# Use pandas to read the rainfall table from the web (as described in the previous cell). 
# Ignore the summary statistics.
# Select the 'Monthly Total' row and sum it to get a yearly rainfall
# (Optional) Create a function that returns the yearly rainfall for a given year. Plot rainfall over time

# Solution Section 

--------------------------------

## Part 1: Data Science Handbook Summary

The Data Science Handbook is a transcription of interviews with 25 Data Scientists based in USA. It is not a technical guide on how to become a Data Scientist, but rather a
book showcasing the life stories of these 25 Data Scientists, how they stumbled into data-centric opportunities, 
what they did about them and their words of wisdom for those who aspire to be Data Scientists. 

My two favourite sections are those of :
*    *Riley Newman, Head of Data at AirBnB* (Chapter 5: "Data is the Voice of Your Customer"); and 
*    *Joe Blitzstein, Prof of Statistics in Harvard University *(Chapter 15: "Teaching Data Science and Story Telling").

In particular, I like how [Newman](http://nerds.airbnb.com/author/riley-newman/) used the phrase "Democratisation of Data", a scenario where people in the organisation
are trained enough to source the data that they need to guide their day-to-day work function, so that the highly-skilled data people (e.g. data scientists) can focus on real data problems that require deep analysis and iterative modelling. This is manifested by the fact that all employees of AirBnB are able to write SQL queries.

As for [Blitzstein](http://www.people.fas.harvard.edu/~blitz/Site/Home.html), I like how he emphasizes the importance of three things:
*   Communication and Story-telling: Where he emphasizes that, for one's presentation to matter, setting the context is very important before jumping to the smaller details. It is important to not make any assumptions that one's audience knows anything about the project is or why it is important.
*   Learning and Teaching a New Concept goes together: By being able to articulate a new concept and teach someone about it is the best way to motivate yourself to learn as much as possible about the topic, so you can convey the "teachings" in a manner that you'd like to receive it if you're the student.
*   Not being discouraged that you don't know everything - and what matters is someone's eagerness to keep learning new things to become a succesful Data Scientist.

In conclusion, this book has a rich source of life stories of people who eventually became Data Scientists, the opportunities that led them to this career path and how they dealt with specific situations that life presented to them. No two stories are similar so we don't have to try and copy exactly what these guys did given the differences in economic and political settings between the USA and Australia, but it's up to us to take away their most important life lessons, learn from them and apply them the best way we can for us to reach our fullest life potential, whether or not it's in the field of Data Science, our story is yet to be written. 

----------------------------------

## Part 2: The BOM / Rainfall Exercise

In [2]:
import pandas
rainfall_table=pandas.read_html('http://www.bom.gov.au/jsp/ncc/cdio/weatherData/av?p_nccObsCode=136&p_display_type=dailyDataFile&p_startYear=2016&p_c=-872838178&p_stn_num=066062',header=0,index_col=0)
rainfall_table

[                 Jan   Feb    Mar    Apr  May    Jun    Jul    Aug   Sep  \
 2016
 Graph            NaN   NaN    NaN    NaN  NaN    NaN    NaN    NaN   NaN
 1st              0.0   0.2    0.0    0.0  2.8   29.4    0.0    0.0   0.0
 2nd              0.0   2.0    0.0    0.0  0.0    1.0    0.0    0.4  14.4
 3rd              0.0   0.0    0.0    0.0  0.0    0.2    0.0   24.8  23.4
 4th             15.0  10.8    0.0   94.4  0.0   64.4    0.0   61.0   0.0
 5th             34.2   3.6    0.0    6.4  0.0   93.8    4.8    4.0   0.0
 6th             51.4   1.8    0.0    0.0  0.0   68.4    0.2    1.8   0.0
 7th             41.4   0.0    0.0    0.2  0.0    0.0   29.4    0.6   0.0
 8th              0.4   0.0    0.0    0.0  0.0    0.0   22.4    0.0   0.0
 9th              0.0   0.0    0.0    0.4  1.6    0.2    2.2    0.0   0.0
 10th             0.0   0.2    0.0    0.0  0.0    0.2    1.0    0.0   1.2
 11th             0.0   0.0    0.0    0.0  0.0    0.0    0.0    0.0   0.0
 12th             0.0   0.0    0.0    8.2  0.0    0.0    0.2    0.0   0.0
 13th             0.0   0.0    0.0    0.6  0.0    0.0    0.0    0.0   0.0
 14th             0.0   0.0    0.0    0.6  0.0    0.0    0.0    0.0   5.8
 15th            34.0   0.0   16.8    1.0  0.0    0.0    0.0    0.0   0.0
 16th             5.4   0.0   23.0    0.0  0.0    0.0    0.0    0.0   0.0
 17th             0.0   0.0   13.6    0.0  0.0    0.0    0.8    0.0   0.0
 18th             0.0   0.0    3.4    2.0  0.0    5.0    0.0    0.0   0.0
 19th             0.0   0.0    4.8   15.0  0.0    0.4    0.2    0.0  13.4
 20th             0.0   0.0    0.2   15.8  0.0   38.8   17.0    0.4   0.0
 21st             0.0   6.0   61.2    0.0  0.0    0.0   20.4    0.0   0.0
 22nd            30.6   1.2   25.4    0.0  0.0    0.0    0.0    0.0   2.0
 23rd            13.0   0.0    1.6    6.6  0.0    0.0    6.0    1.8   0.6
 24th             0.0   0.0    0.0    3.8  0.0    0.0    0.0    2.4   0.0
 25th             0.0   0.0    0.0    0.0  0.0    0.6    0.0   52.8   3.4
 26th             0.0   0.0    0.0    0.0  0.2    0.0    0.0    0.0   4.0
 27th             2.2   0.0    0.2    0.0  0.2    0.0    0.0    1.4   0.0
 28th             0.4   0.0   34.8    0.0  0.0    2.4    0.0    0.0   0.0
 29th             0.0   0.0    0.0    0.0  2.2    0.2    0.0    0.0   1.4
 30th             9.0   NaN    7.0    0.0  0.2    0.0    0.0    0.0   0.4
 31st            12.8   NaN    1.2    NaN  0.0    NaN    0.0    0.0   NaN
 Highest Daily   51.4  10.8   61.2   94.4  2.8   93.8   29.4   61.0  23.4
 Monthly Total  249.8  25.8  193.2  155.0  7.2  305.0  104.6  151.4  70.0

                 Oct   Nov   Dec
 2016
 Graph           NaN   NaN   NaN
 1st             0.0   0.0   0.0
 2nd             0.0   0.0   0.2
 3rd             0.0   0.0   0.0
 4th             0.0   0.0   0.0
 5th             0.0   0.0   0.4
 6th             0.0   0.0   3.2
 7th             0.0   0.0   7.8
 8th             0.2   0.0   0.2
 9th             0.0   2.0   0.4
 10th            0.0  10.2   0.0
 11th            3.8   0.0   0.0
 12th            0.0   9.0   0.0
 13th            4.4   0.0   0.0
 14th            0.2   0.0   0.0
 15th            0.0   0.6   8.2
 16th            0.0   0.0  32.6
 17th            0.0   0.0  10.4
 18th            3.0   0.0   0.0
 19th            0.2   0.0   0.0
 20th            0.0   0.0   0.0
 21st            0.0   0.0   0.0
 22nd           11.8   0.0   0.0
 23rd            0.6   0.0   0.0
 24th            0.8   5.4   0.0
 25th            0.0   0.0   1.6
 26th            0.0   0.0   0.0
 27th            0.0   0.0   0.0
 28th            1.4   0.0   0.0
 29th            3.2   0.0   0.0
 30th            0.2   0.0   0.0
 31st            1.6   NaN   0.0
 Highest Daily  11.8  10.2  32.6
 Monthly Total  31.4  27.2  65.0  ,
                           Jan            Feb             Mar             Apr  \
 Statistic
 Mean                    102.2          117.0           129.6           128.8
 Median                   79.8           92.3            99.1            98.8
 Highest Daily  191.017th 1988  243.63rd 1990  280.728th 1942  191.029th 1860

                           May             Jun            Jul            Aug  \
 Statistic
 Mean                    119.2           133.0           97.1           81.1
 Median                   90.8           101.8           74.3           54.9
 Highest Daily  212.328th 1889  150.611th 1991  198.17th 1931  327.66th 1986

                           Sep             Oct            Nov            Dec
 Statistic
 Mean                     68.4            76.4           83.8           77.6
 Median                   52.5            55.4           66.9           59.7
 Highest Daily  144.510th 1879  161.813th 1902  234.69th 1984  126.09th 1970  ]

In [24]:
monthly_tot = rainfall_table[rainfall_table.index == 'Monthly Total']
monthly_tot_record = monthly_tot[monthly_tot.index == 'Monthly Total']
monthly_tot_record

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
2016,,,,,,,,,,,,
Monthly Total,249.8,25.8,193.2,155.0,7.2,305.0,104.6,151.4,70.0,31.4,27.2,65.0

In [25]:
monthly_tot_record=monthly_tot_record.sum()
monthly_tot_record

Jan    249.8
Feb     25.8
Mar    193.2
Apr    155.0
May      7.2
Jun    305.0
Jul    104.6
Aug    151.4
Sep     70.0
Oct     31.4
Nov     27.2
Dec     65.0
dtype: float64

In [26]:
monthly_tot_record=monthly_tot_record.cumsum()
monthly_tot_record

Jan     249.8
Feb     275.6
Mar     468.8
Apr     623.8
May     631.0
Jun     936.0
Jul    1040.6
Aug    1192.0
Sep    1262.0
Oct    1293.4
Nov    1320.6
Dec    1385.6
dtype: float64

In [28]:
annual_rainfall_2016=monthly_tot_record.max()
annual_rainfall_2016

1385.6000000000001

# Part 3: Course Project:

## Idea1:

##### Overview of idea
*  To be able to predict the likelihood of me calling in sick on the 16th day given my step count average over
the last 15days.

##### What data you will use, and how you will collect it
*  WHAT: Historical step count from Fitbit over the last 12 months.
*  HOW:  I will collect it e=from my fitbit log, 
either manually or using an import file collected via USB connection between fitbit and my laptop.

##### What the outcome is that you are trying to achieve
*  An accurate prediction of me getting sick.

##### Any ideas of modelling techniques it may involve
*  Auto-correlation / Regression Modelling.

----------

## Idea2:

##### Overview of idea
* This idea aims to uncover the factors that affect my retail shopping behaviour.

##### What data you will use, and how you will collect it
* WHAT: One person's seven-year credit card history containing the location, the date/timestamp, product/service
    category when the purchase was made and the transaction amount.
* HOW:  I will download a CSV import from my online credit card app.

##### What the outcome is that you are trying to achieve
* Uncover the factors that cause one specific person to spend >30% of her monthly income 
on retail shopping on a given month.

##### Any ideas of modelling techniques it may involve
* Auto-correlation, scatter plots.

----------

## Idea3:

##### Overview of idea
* Predict property prices in Sydney given the Suburb, dwelling type (unit vs house), # of rooms, # of bathrooms, # of garage, close proximity to : good schools, westfield and train station. 

##### What data you will use, and how you will collect it
* WHAT: Manually collected public Data from Domain.com over the last three months for Western, 
    Southern, Eastern and Western Sydney.
* HOW:  I will collect this data manually.    

##### What the outcome is that you are trying to achieve
* Predict a fair price range given a property in a specific address.

##### Any ideas of modelling techniques it may involve
* Regression Modelling, maybe pair plots.

----------

## Idea4:

##### Overview of your idea
* Predict the likelihood of someone's super account sitting inactive given their age bracket, inferred 
salary bracket and the month at which they joined.

##### What data you will use, and how you will collect it
* WHAT: If allowed, I will use the transactional Superannuation Guaranteed data across 300K account holders over 
the last 12 months. 
* HOW:  I will ask permission from the business if I can query this transactional data and use 
for DAT7 project knowing that it will be displayed publicly.

##### What the outcome is that you are trying to achieve
* Proactively know when a Super customer is about to leave our business

##### Any ideas of modelling techniques it may involve
* Regression and auto-correlation

----------

## Idea5:

##### Overview of idea
* A model that can predict a call centre staff's probability of quitting or calling in sick on the 30th day 
given a certain amount of break time that they spend with their friends at work.

##### What data you will use, and how you will collect it
* WHAT: QA (Quality Assurance) and HR (Human Resources) data of a 70-people call centre collected over the 
    last three months containing employee records of break start and end time, the name of their identified buddies, 
    a log of their sick days off and their departure date, if they have left the call centre.
* HOW: I will collect it through an associate who runs a call centre in Manila who has access to the:
        1. Quality Assurance Data (reflecting employee breaktimes); and
        2. Human Resource Data (reflecting sick dates and departure dates of employees).

##### What the outcome is that you are trying to achieve
* A predictive model to forecast the likelihood of a certain call centre staff quitting or calling in sick 30 days 
after not having enough time to air their problems out with their work buddies.

##### Any ideas of modelling techniques it may involve
* Community Detection, Node Centrality, Regression Modelling.

----------